*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
    display: grid;
    background: rgb(54, 54, 54);
    place-items: center;
    height: 100vh;
    
}
.start {
    height: auto;
    width: auto;
}
#start1 {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0px;
    background: gray;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px 30px;
    border: 5px solid white;
    cursor: pointer;
    /*display: none;*/
}

#start1:hover {
    background:grey;
    color: oldlace;

}

#instructions, #questions {
    height: auto;
    width: 700px;
    padding: 30px;
    background: rgba(167, 168, 170, 0.822);
    border-radius: 30px 30px;
    border: 5px solid ivory;
   display: none;

}
#instructions h2 {
    font-size: 40px;
    color: white;
}

#instructions h3 {
    height: 50px;
    width: 100%;
    color: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    font-size: medium;
}

#instructions #btn {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#instructions #btn button {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: rgb(201, 231, 142);
    outline: none;
    background: white;
    border-radius: 40px 40px;
    font-size: larger;
    cursor: progress;
    
}
#instructions #btn button:last-child{
    margin: 30px 10;
}
#instructions #btn button:hover{
    background: rgb(241, 239, 220);

}


#questions {
    /*display: block;*/
    height: 480px;
    position: relative;
}
#questions #question_header {
    height: 70px;
width: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
flex-direction: row;
border-radius: 30px 0;
    
}

#questions  h4 {
    font-size: 30px;
    margin: 0 20px;
    color:black;
}
h4 {
    font-size: 30px;
    margin: 0 20px;
    color:black;
}
#questions  #time {
    height: 50px;
    width: 200px;
    background: transparent;
    color: black;
    font-size: 16px;
    border-radius: 20px 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

#questions #time h5 {
    font-size: medium;
    display: grid;
    place-items: center;
    color: black;
    margin: 0 10px;

}
#questions #time #remainingtime {
    height: 44px;
    width: 50px;
    background: black;
    color: whitesmoke;
    border-radius: 15px 7px;
    margin: 2px 00 27px;

}

#questions #quiz {
    position: absolute;
    top:90px;
    display: flex;
    flex-direction: row;
    
}
#questions #quiz h2 {
    font-size: 30px;

}
#questions #quiz h2:first-child {
    margin: 0 10px 0 5px;

}

#questions #answers {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 160px;

}
#questions #answers h4{
    height: 50px;
    width: 500px;
    background: white;
    line-height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    padding: 0 25px;
    font-size: medium;
    color: black;
    overflow: hidden;
    border: 2px solid rgb(10, 10, 10);
    cursor: pointer;

}
#questions #answers h4:hover {
    background: lightgrey;

}
#questions #answers .active {
    background: lightgrey;

}
#questions #answers .disabled {
    pointer-events: none;

}
#questions #NextQ {
    height: 60px;
    width: 120px;
    position: absolute;
    bottom: 0px;
    left: 0;
    

}
    
#NextQ {
    margin: 10px 30px;
   display:none; 
}

#NextQ:last-child {
    height: 40px;
    width: 100px;
    display: grid;
    place-items: center;
    background: lightgrey;
    position: absolute;
    right: 0;
    color: black;
    border:5px solid whitesmoke;
    font-size: medium;
    border-radius: 20px 20px;
    cursor: pointer;
    margin: 20 20px;
}
#questions #next #NextQ:hover {
    background: lightgrey;
}
#questions #next #NextQ:first-child:hover {
    background: white;
}
 #start #result {
    height: 500px;
    width: 450px;
    padding: 20px;
    background: rgb(218, 241, 172);
    border-radius: 30px 40px;
    border: 5px solid rgb(240, 240, 243); ;
    overflow: hidden;
    position:relative;
    /*display:none;*/

}
 
 h6 {
    height: 500px;
    width: 450px;
    padding: 20px;
    background: rgb(218, 241, 172);
    border-radius: 30px 30px;
    color: rgb(35, 35, 82);
    font-size: x-large;
    display: grid;
    align-items: center;
    display: none;
}